<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
</head>
<body>

<div align="center">
  <h1> Employee Management System </h1>

  <a th:href="@{/showAddEmployeeForm}">Add Employee</a> <br> <br>

  <table border="1">
    <thead>
      <td>ID</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
      <td colspan="2">Actions</td>
    </thead>

    <tbody>
      <tr th:each="employee : ${employeeList}">
        <td th:text = ${employee.id}></td>
        <td th:text = ${employee.firstName}></td>
        <td th:text = ${employee.lastName}></td>
        <td th:text = ${employee.email}></td>
        <td><a th:href="@{/deleteEmployee/{id}(id=${employee.id})}">Delete</a></td>
        <td><a th:href="@{/showUpdateForm/{id}(id=${employee.id})}">Update</a></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>